{% extends "layout.html" %}
{% load static %}

{% block title %}
    Quizzes
{% endblock title %}

{% block statics %}
    <link rel="stylesheet" href="{% static "css/quizzes.css" %}">
{% endblock statics %}

{% block content %}
<main class="main-content">
    <h1>Topics</h1>
    {% for topic in topics %}
        <a class="topic" href="#">{{ topic.name }}</a>
    {% endfor %}
    
    {% comment %} <div class="search-bar">
      <input type="text" class="search-input" placeholder="Search quizzes..." id="searchQuiz">
    </div> {% endcomment %}
    <h1>Explore Quizzes</h1>
    <div class="quiz-list">
        {% for quiz in quizzes %}
            <div class="quiz-item">
                <span class="difficulty easy">{{ quiz.topic.name }}</span>
                <h3><a href="{% url "quiz:quiz-details" quiz_id=quiz.id %}">{{ quiz.title }}</a></h3>
                <p>{{ quiz.description }}</p>
                <div class="quiz-stats">
                    <span>⏱️ 15 mins</span>
                    <span>⭐ 4.8/5</span>
                    <span>👤 1.2k taken</span>
                </div>
            </div>
        {% endfor %}
    </div>
  </main>
{% endblock content %}