<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - Mind Trek</title>
    <link rel="stylesheet" href="{% static "css/general.css" %}">
    <link rel="stylesheet" href="{% static "css/register.css" %}">
</head>
<body>
        <div class="registration-container reg">
            <h2>Join Mind Trek</h2>
            <form id="registrationForm" action="{% url "users:register" %}" method="POST">
              {% csrf_token %}
              {{ form }}
              <button type="submit" class="register-btn">Create Account</button>
            </form>
            
            <div class="login-link">
              Already have an account? <a href="{% url "users:login" %}">Login here</a>
            </div>
          </div>
</body>
</html>